
:root {
    --primary-color: #a02424;
}

body {
    background: #F2F2F2; 
    margin: 0;
    font-family: 'Helvetica';
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
        img {
            height: 3em;
            padding-left: 0em;
        }
        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;

    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #444444;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}
.contact-right{
    width: 100%;
    
    iframe{
        width: 100%;
    }
}
.hero-col {

    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

}

section.features-section {
    background: #20272E;
}

.banner {

    background: url(../images/Bannner1for390-01-01.png);
    background-repeat: no-repeat;
    background-size: cover;

    .banner-content{
        color: black;
        width: 100%;
        font-size: 1.5em;
        p{
            display: inline-block;
            margin-top: 0;
            width: 100%;
        }

    }


}

.testimonials-section {
    background: var(--primary-color);
    h2{
        font-size: 2em;
    }
    label{
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    input, textarea {
        width: 100%;
        padding: .8em;
        margin-bottom: 1em;
        border-radius: .3em;
        border: 1px solid gray;
        box-sizing: border-box;

    }
    input[type="submit"]{
        background-color:#20272E;
        color: white;
        font-weight:bold ;
        font-size: 1.3em;
        border: none;
        margin-top: 3em;
        border-radius: 5em;
        display: inline-block;
        padding: .8em 2em ;
        width: unset;
        cursor: pointer;
    }
}

.contact-section {

}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background:#20272E ;
    width: 100%;
    p{
        font-size: 1em;
        color: white;
    }
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding-top: 1em;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }
        ul.secondary-nav {
           margin-right: 1em;
        }

        li.current a {
            font-weight: bold;
        }
        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }

    .logo {
        padding-left: 3em;

    }

    .testimonials-section {

        h2{
            text-align: center;
        }
        form{
            margin: 0 auto;
            width: 600px;
        }
        input[type="submit"]{

            margin-top: 2em;
        }

    }

    
    .banner-content{
        color: black;
        width: 100%;
        height: 100%;
        font-size: 1.5em;
        padding-left: 8%;

    }

    
}


