:root {
  --primary-color: #a02424;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Helvetica';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo img {
  height: 3em;
  padding-left: 0em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.hero-home {
  text-align: center;
  color: white;
}

.contact-right {
  width: 100%;
}

.contact-right iframe {
  width: 100%;
}

.carousel-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.hero-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.hero-col .subhead-home {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: .3em;
}

.hero-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

section.features-section {
  background: #20272E;
}

section.features-section-home {
  background: #20272E;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

.features-section-home img {
  display: none;
}

.banner {
  background: url(../images/Bannner1for390-01-01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner-content {
  color: black;
  width: 100%;
  font-size: 1.5em;
}

.banner .banner-content p {
  display: inline-block;
  margin-top: 0;
  width: 100%;
}

.testimonials-section-home {
  color: white;
}

.testimonials-section-home li {
  background: #747474;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.testimonials-section {
  /* background: var(--primary-color);*/
}

.testimonials-section h2 {
  font-size: 2em;
}

.testimonials-section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.testimonials-section input, .testimonials-section textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonials-section input[type="submit"] {
  background-color: #20272E;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-top: 3em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #20272E;
  width: 100%;
}

footer p {
  font-size: 1em;
  color: white;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding-top: 1em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav ul.secondary-nav {
    margin-right: 1em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .logo {
    padding-left: 3em;
  }
  .testimonials-section h2 {
    text-align: center;
  }
  .testimonials-section form {
    margin: 0 auto;
    width: 600px;
  }
  .testimonials-section input[type="submit"] {
    margin-top: 2em;
  }
  .banner-content {
    color: black;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    padding-left: 8%;
  }
  .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  .testimonials-section-home {
    color: white;
  }
  .testimonials-section-home li {
    background: #747474;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
  }
  .testimonials-section-home ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section-home ul li {
    margin: 0 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  .features-section-home {
    position: relative;
  }
  .features-section-home img {
    display: block;
    position: absolute;
    right: 0;
    width: 40%;
    bottom: -2em;
  }
}
/*# sourceMappingURL=main.css.map */