<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/articles.css">
    
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="index.html"><img src="../images/IMG_0220.PNG" alt="logo"/></a>

            <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation">
                
                <ul class="primary-nav">
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="forum.html">Forum</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>

                </ul>

                <ul class="secondary-nav">
                    <li><a href="registration.html">Join our Community</a></li>
                    <li class="go-premium-cta"><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="hero">
        <div class="container">
            <div class="hero-col">
                <p class="subhead">Get the Latest</p>
                <h1>From the CDC</h1>

            </div>
        </div>
    </section>

    <section class="features-section">
        <div class="container">

        </div>
    </section>

    <section class="testimonials-section">
        <div class="container">
            <div class="row row-one">
                <div class="col col-lg-2 col-md-3 col-sm-3 artices-list">
                    <div class="article-container">
                        <div class="article article1">
                            <p id="one">
                                Article 1
                                <!-- <span>date</span> -->
                            </p>
                        </div>
                        <div class="article article2">
                            <p id="two">Article 2
                                <!-- <span>date</span> -->
                            </p>
                        </div>
                        <div class="article article3">
                            <p id="three">Article 3
                                <!-- <span>date</span> -->
                            </p>
                        </div>
                        <div class="article article4">
                            <p id="four">Article 4
                                <!-- <span>date</span> -->
                            </p>
                        </div>
                        <div class="article article5">
                            <p id="five">Article 5
                                <!-- <span>date</span> -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-10 col-md-9 col-sm-9 article-show-div">
                    <div class="show">
                        <div class="article-show-container active" id="one">
                            <h4>Article 1</h4>
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, asperiores eius veritatis iste quidem quia eaque accusamus? Impedit, soluta at?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint molestiae error accusantium quas ipsam dignissimos sequi sunt ducimus porro distinctio blanditiis nostrum excepturi molestias cupiditate, quam explicabo a nemo, totam quod! Expedita, excepturi ducimus cum laboriosam, omnis aut pariatur quis et beatae neque rem, exercitationem distinctio. Saepe officiis placeat recusandae neque, vel, architecto odit eum ut eligendi quos consectetur doloremque voluptatem nesciunt? Asperiores totam eum velit harum voluptas doloremque fugit placeat earum rerum amet ex delectus accusantium explicabo, dolor optio ab nihil dolores odit ipsam tempora libero, modi dignissimos officia. Doloremque quis natus rem culpa ipsa aperiam vero illum sequi.
                        </div>
                        <div class="article-show-container anactive" id="two">
                            <h4>Article 2</h4>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aspernatur fugiat sit, nobis dolore vel velit natus excepturi eveniet asperiores, reprehenderit odio odit nam quam pariatur recusandae! Nulla, tempore cupiditate adipisci ipsum sit, quam rem fugiat aliquam nemo doloremque eaque alias ad consectetur! Labore nostrum dolorum eos eligendi? Ullam placeat saepe, est quasi dolorum recusandae harum suscipit, mollitia, minus earum ipsum assumenda! Adipisci, hic quibusdam. Laboriosam nesciunt, delectus earum dicta deserunt quam repellendus corrupti illo nam omnis. Odio quae et neque vero, commodi incidunt atque architecto molestiae sint dolorem ducimus delectus reprehenderit sit repellat exercitationem, soluta magnam distinctio, eius consequuntur!
                        </div>
                        <div class="article-show-container anactive" id="three">
                            <h4>Article 3</h4>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis facere, eaque magnam earum perferendis mollitia! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis explicabo dolorum ullam! Nesciunt iure pariatur fugiat! Facere, iste. Labore quisquam voluptas nam facilis cupiditate. Dolorum blanditiis illum nihil magnam praesentium delectus, minima accusamus rerum quibusdam quae voluptatum fugiat illo quisquam doloremque et alias distinctio cum veniam eveniet? Deserunt sapiente in aliquam omnis culpa cum cupiditate labore. Quas perferendis odit repellat, accusantium ab doloremque quidem, provident ipsa amet non eos beatae aliquam quasi ut incidunt iusto, laudantium consectetur quia fuga cumque? Recusandae ipsum corporis deserunt, neque ipsam expedita veritatis natus sint rerum error distinctio commodi deleniti exercitationem. Corporis quaerat veritatis quas.
                        </div>
                        <div class="article-show-container anactive" id="four">
                            <h4>Article 4</h4>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa vitae laudantium unde, odit delectus fuga inventore laborum totam tempora!
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis officiis dolore, quos, eius repellendus quia nisi sit incidunt quod porro doloremque reiciendis. Magnam ipsa harum ea. Similique est iusto animi modi temporibus facere rem eaque veritatis consectetur officiis architecto adipisci laudantium dolorum odit, natus ut, voluptate provident! Voluptatem aut aspernatur praesentium sed dolore molestiae laudantium tempore dolorum libero esse aperiam iusto, quaerat corporis, nam veniam itaque ab commodi excepturi illo maiores fugiat eum quo nihil delectus. Dolorem, quae. Sint odit cum dolor aliquid neque sed deserunt, perspiciatis quasi ullam, veniam optio fuga eaque, repellat nesciunt pariatur quae. Odio, debitis facere.
                        </div>
                        <div class="article-show-container anactive" id="five">
                            <h4>Article 5</h4>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, odit sed consequuntur incidunt veniam numquam id excepturi fuga quasi ducimus voluptate fugiat! Sapiente mollitia a suscipit! Eos libero odio corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quam nam velit debitis nihil inventore cupiditate, quod fugiat totam illo numquam explicabo! Eum alias commodi optio laborum aut minima odit velit cupiditate illum et deleniti nulla officia error deserunt ex possimus nihil, quo asperiores, sit magnam. Harum numquam tempore ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam deleniti culpa cum fugiat sunt tempore beatae doloribus enim. Totam architecto aliquam error incidunt itaque, provident accusantium optio pariatur dolorum <ducimus class="lorem1000"></ducimus>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore eligendi voluptates, consectetur quam consequatur quasi iste minus ipsa voluptas?</p>
        </div>
    </footer>

    <script>

        const mobileBtn = document.getElementById('mobile-cta')
              nav = document.querySelector('nav')
              mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })

    </script>


    <script src="../js/articles.js"></script>
    

</body>
</html>