
/* Disscussion fourn form */
.form-container {
    max-width: 700px;
    margin-top: 20px;
}

.post {
    margin-right: 15px;
}

.left-top {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-bottom {
    height: 90vh;
    position: relative;
}

.left-bottom, .left-top
,.right-top, .right-bottom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bt1, .bt2, .bt3 {
    font-size: 13px;
}

.dis-card {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
}
.dis-card:hover {
    background-color: rgb(245, 248, 248);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.active {
    border: 1px solid white;
    background-color: #0275d8;
    color: white;
    border-radius: 5px;
}
.diss-link {
    font-size: 13px;
}
